.update-button {
    width: 6em;
    height: 2em;
    margin-top: 10px;
    padding: 0;
    background-color: #d73832;
    color: #ffffff;
    border: none;
    border-radius: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: 500;
    text-align: center;
    line-height: 2em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.update-button:hover {
    background-color: #9f2a24;
}

.update-form{
    /*padding-top: 4em;*/
    width: 16em;
    font-size: 13px;

}

.update-form h4{
    color: white;
    font-size: 1.17em;
    text-align: left;
}

.update-form label{
    display: block;
    margin-bottom: 1em;
    color: white;
    font-size: 1.17em;
}

.update-form input{
    width: 100%;
}
