.update-form{
    width: 16em;
    font-size: 13px;
}

.update-form label{
    display: block;
    margin-bottom: 1em;
    color: white;
    font-size: 1.17em;
}

.update-form input{
    width: 100%;
}